.div1{
    /* font-size:16px;
    color:#005d63;
    line-height:25px; */
    left:5%;
    position: relative;
}

.div2{
    /* font-size:16px;
    color:#005d63;
    line-height:25px; */
    left:30%;
    position: relative;
}