<div class="div-right">
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist"> -->
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home"
            aria-selected="true"  [routerLink]="['/logout']">
            <h3>logout</h3>
        </a>
    </li>
<!-- </ul> -->
</div>
<br>
<br>
<br>
<div *ngIf="admin">
    <div class="divCss">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home"
                aria-selected="true"  [routerLink]="['/home/importData']">
                <h6>Import Data</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="profile"
                aria-selected="false" [routerLink]="['/home/manageCompany']">
                <h6>Manage Company</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#audit" role="tab" aria-controls="contact"
                aria-selected="false" [routerLink]="['/home/manageExchange']">
                <h6>Manage Exchange</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                aria-selected="false" [routerLink]="['/home/uodateIpo']">
                <h6>update IPO detail</h6>
            </a>
        </li>
    </ul>
    </div>
</div>

<div *ngIf="user">
        <div class="divCss">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home"
                    aria-selected="true"  [routerLink]="['/home/IPOs']">
                    <h6>IPOs</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="profile"
                    aria-selected="false" [routerLink]="['/home/compareCompany']">
                    <h6>Compare Company</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#audit" role="tab" aria-controls="contact"
                    aria-selected="false" [routerLink]="['/home/compareSectors']">
                    <h6>Compare Sectors</h6>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false" [routerLink]="['/home/userList']">
                    <h6>other</h6>
                </a>
            </li>
        </ul>
        </div>
    </div>